<div class="page-header">
  <h1><%= @event.name %>
    <div class="link">
      <%= link_to events_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Back to Events
      <% end %>
    </div>
  </h1>
</div>

<div class="event_content">
  <h2><%= @event.content %></h2>
</div>
<div class="comment-form">
  <h2>Comments</h2>
  <br/>
  <div class="col-md-8 col-md-offset-2">
    <% @comments.order(created_at: :desc).each do |comment| %>
      <div class="comment">
        <div class="comment-header">
          <strong><%= comment.user.full_name %></strong>
          <div class="timestamp">
          <i>created</i>
          <strong><%= comment.created_at.strftime("%b %d, %l:%M %p") %></strong>
          </div>
          <br />
        </div>
      <div class="comment-body">
        <p><%= comment.body %></p>
        <% if user_signed_in? %>
        <% if comment.user.id === current_user.id then %>
        <p><i><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Edit', edit_comment_path(comment)  %></i></p>
        <% end %>
        <% end %>
      </div>
      </div>
      <% end %>
    <% if user_signed_in? %>
      <%= render 'comments/form' %>
    <% end %>
  </div>
</div>
